<div class="card card-body p-4 rounded-0 bg-dark text-white">
  <h3>Añade una tarea</h3>
  <form action="/task/add" method="POST">
<div>
  <label for="title">Escribe un titulo</label>
  <input type="text" name="title" placeholder="title" id="title" class="form-control rounded-0 bg-dark text-white" />
</div>
<div>

  <label for="descripcion">descripcion</label>
  <textarea
    name="descripcion"
    placeholder="Descripcion"
    id="descripcion"
    class="form-control rounded-0 bg-dark text-white"
    ></textarea>
</div>

<button class="btn btn-primary btn-sm mt-2">add</button>

</form>
</div>